<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= text %></p>
    <form action="/person" method="POST" style="display: flex; flex-direction: column; width: 25%; margin: 50px 0;">
      <h2>Criar uma pessoa</h2>

      <label for="firstName">First Name:</label>
      <input id="firstName" type="text" name="firstName" required>

      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" name="lastName" required>

      <label for="profession">Profession:</label>
      <input id="profession" type="text" name="profession" required>

      <label for="age">Age:</label>
      <input id="age" type="number" name="age" required>

      <button type="submit">Criar</button>
    </form>
    <ul>
      <% persons.forEach((item, index) => { %>
        <li> 
          <strong><%= item.firstName %></strong>
          <%= item.lastName %>, <%= item.age %>
        </li>
      <%})%>
    </ul>
  </body>
</html>